:root{
    --basic-color: #2C3E50;
    --mono-color: #25476A;
  }
  
  body{
    background-color: var(--basic-color);
    font-family: Arial;
    font-weight: bold;
  }
  
  #quote-box{
    background-color: #fff;
    color: var(--basic-color);
    border-radius: 5px;
    width: 50%;
    padding: 10px 25px 30px;
    margin: 0 auto;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #text{
    text-align: center;
  }
  
  #author{
    text-align: right;
  }
  
  #new-quote{
    color:#fff;
    background-color:var(--basic-color);
    border: none;
    border-radius: 3px;
    height: 30px;
    float: right;
  }
  
  #new-quote:hover{
    background-color:var(--mono-color);
    cursor: pointer;
  }
  
  #tweet-quote{
    text-decoration: none;
    color:var(--basic-color);
  }
  
  #tweet-quote:hover{
    color:var(--mono-color);
    cursor: pointer;
  }
  
  